module:i-raw:01
module:demosaic:01
module:denoise:01
module:hilite:01
module:colour:01
module:filmcurv:01
module:i-jpg:01
module:colormatch:01
module:display:main
connect:i-raw:01:output:denoise:01:input
connect:denoise:01:output:hilite:01:input
connect:hilite:01:output:demosaic:01:input
connect:demosaic:01:output:colour:01:input
connect:colour:01:output:filmcurv:01:input
connect:filmcurv:01:output:colormatch:01:input
connect:i-jpg:01:output:colormatch:01:target
connect:colormatch:01:output:display:main:input
# point i-raw to a raw file and i-jpg to the extracted embedded jpeg:
# param:i-raw:01:filename:photo.cr2
# param:i-jpg:01:filename:photo_embedded.jpg
param:colormatch:01:strength:1.0
