frames:1
fps:0
module:i-raw:main
module:denoise:01
module:hilite:01
module:demosaic:01
module:resize:01
module:crop:01
module:colour:01
module:filmsim:01
module:grade:01
module:i-lut:filmsim
module:i-lut:spectem
module:display:main
# waveform histogram branch (rabbit_editor): taps the final graded image, same as preview.
module:hist:01
module:display:hist
connect:i-raw:main:output:denoise:01:input
connect:denoise:01:output:hilite:01:input
connect:hilite:01:output:demosaic:01:input
connect:demosaic:01:output:resize:01:input
connect:resize:01:output:crop:01:input
connect:crop:01:output:colour:01:input
connect:colour:01:output:filmsim:01:input
connect:filmsim:01:output:grade:01:input
connect:grade:01:output:display:main:input
connect:grade:01:output:hist:01:input
connect:hist:01:output:display:hist:input
connect:i-lut:filmsim:output:filmsim:01:filmsim
connect:i-lut:spectem:output:filmsim:01:spectra
param:resize:01:width:1280
param:resize:01:height:1280
param:i-lut:filmsim:filename:data/filmsim.lut
param:i-lut:spectem:filename:data/spectra-em.lut
param:crop:01:crop:0:1:0:1
param:i-raw:main:filename:placeholder.dng
